button {
  border-radius: 4px;
  margin: 4px;
  padding: 3px 5px;
}

.main-container {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
}

.app-title {
  margin: 40px 8px 8px;
  text-align: center;
  width: 100%;
}

.login-input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-evenly;
  width: 100%;
}

.register-input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  width: 100%;
}

.access-input {
  border-radius: 3px;
  margin: 4px;
  padding: 2px 4px;
}

.error-message {
  color: red;
  margin: 8px;
  text-align: center;
  width: 100%;
}
